@using sagemode_fluent_blazor_components.Utilities.Enums
@using sagemode_fluent_blazor_components.Utilities.Classes

@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="page">
    <main>
        <FluentNavigationView PaneDisplayMode="PaneDisplayMode.Left"
                              Header="@_headerTitle"
                              AlwaysShowHeader="true"
                              IsSettingsVisible="true"
                              SelectsOnLoad="true"
                              OnSelectionChanged="OnNavigationSelectionChanged">

            <FluentNavigationViewMenuItems>
                <FluentNavigationViewItem Icon="Home"
                                          Content="Home"
                                          Tag="Home"
                                          Href="/">
                    
                    <FluentImageIcon Source="https://docs.microsoft.com/en-us/windows/apps/design/style/images/glyphs/segoe-fluent-icons/e706.png" slot="icon"></FluentImageIcon>
                </FluentNavigationViewItem>

                <FluentNavigationViewItemHeader Content="Pages"></FluentNavigationViewItemHeader>

                <FluentNavigationViewItem Icon="ToolTip"
                                          Content="Samples"
                                          SelectsOnInvoke="false">

                    <FluentNavigationViewMenuItems>

                        <FluentNavigationViewItem Icon="Dial2"
                                                  Content="Counter"
                                                  Tag="Counter"
                                                  Href="/counter">

                        </FluentNavigationViewItem>
                        <FluentNavigationViewItem Icon="Brightness"
                                                  Content="Weather forecast"
                                                  Tag="Weather forecast"
                                                  Href="/fetchdata">
                        </FluentNavigationViewItem>

                    </FluentNavigationViewMenuItems>

                </FluentNavigationViewItem>
                
                <FluentNavigationViewItem Icon="Save"
                                          Content="Menus and Toolbars"
                                          SelectsOnInvoke="false">
                    <FluentNavigationViewMenuItems>
                        <FluentNavigationViewItem Content="AppBarButton"
                                                  Tag="AppBarButton"
                                                  Href="/commandbar/appbarbutton">
                            <FluentImageIcon Source="images/AppBarButtonIcon.png" slot="icon"></FluentImageIcon>
                        </FluentNavigationViewItem>

                        <FluentNavigationViewItem Content="CommandBar"
                                                  Tag="CommandBar"
                                                  Href="/commandbar">
                            <FluentImageIcon Source="images/CommandBarIcon.png" slot="icon"></FluentImageIcon>
                        </FluentNavigationViewItem>
                    </FluentNavigationViewMenuItems>
                </FluentNavigationViewItem>

            </FluentNavigationViewMenuItems>

            <div slot="content-frame">
                @Body
            </div>

        </FluentNavigationView>
    </main>
</div>

@code
{
    private string _headerTitle = "Home";

    private void OnNavigationSelectionChanged(NavigationViewSelectionChangedEventArgs args)
    {
        if(args.IsSettingsSelected)
            return;

        _headerTitle = args.SelectedItem.Tag;
        Navigation.NavigateTo(args.SelectedItem.Href);
    }
}
