@using sagemode_fluent_blazor_components.Utilities.Enums
@using sagemode_fluent_blazor_components.Utilities.Classes

@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="page">
    <main>
        <FluentNavigationView IconSets="@_iconSets"
                              PaneDisplayMode="PaneDisplayMode.LeftCompact"
                              Header="@_headerTitle"
                              AlwaysShowHeader="true"
                              IsSettingsVisible="true"
                              SelectsOnLoad="true"
                              OnSelectionChanged="OnNavigationSelectionChanged">

            <FluentNavigationViewMenuItems>
                <FluentNavigationViewItem Icon="Home"
                                          Content="Home"
                                          Tag="Home"
                                          Href="/">
                </FluentNavigationViewItem>

                <FluentNavigationViewItemHeader Content="Pages"></FluentNavigationViewItemHeader>

                <FluentNavigationViewItem Icon="ToolTip"
                                          Content="Samples"
                                          SelectsOnInvoke="false">

                    <FluentNavigationViewMenuItems>

                        <FluentNavigationViewItem Icon="Dial2"
                                                  Content="Counter"
                                                  Tag="Counter"
                                                  Href="counter">

                        </FluentNavigationViewItem>
                        <FluentNavigationViewItem Icon="Brightness"
                                                  Content="Weather forecast"
                                                  Tag="Weather forecast"
                                                  Href="fetchdata">
                        </FluentNavigationViewItem>

                    </FluentNavigationViewMenuItems>

                </FluentNavigationViewItem>

            </FluentNavigationViewMenuItems>

            <div slot="content-frame">
                @Body
            </div>

        </FluentNavigationView>
    </main>
</div>

@code
{
    private List<IconSet> _iconSets;
    private string _headerTitle = "Home";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _iconSets = new List<IconSet>
            {
                new() { Name = "Home", Glyph = "e80f" },
                new() { Name = "ToolTip", Glyph = "e82f" },
                new() { Name = "Dial2", Glyph = "f147" },
                new() { Name = "Brightness", Glyph = "e706" },
                new() { Name = "Settings", Glyph = "e713" }
            };

            StateHasChanged();
        }
    }

    private void OnNavigationSelectionChanged(NavigationViewSelectionChangedEventArgs args)
    {
        if(args.IsSettingsSelected)
            return;

        _headerTitle = args.SelectedItem.Tag;
        Navigation.NavigateTo(args.SelectedItem.Href);
    }
}
