@using sagemode_fluent_blazor_components.Utilities.Enums
@using sagemode_fluent_blazor_components.Utilities.Classes

@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="page">
    <main>
        <FluentNavigationView IconSets="@_iconSets"
                              PaneDisplayMode="PaneDisplayMode.LeftCompact"
                              Header="@_headerTitle"
                              AlwaysShowHeader="true"
                              IsSettingsVisible="true"
                              OnSelectionChanged="OnNavigationSelectionChanged">

            <FluentNavigationViewMenuItems>
                <FluentNavigationViewItem Icon="Home"
                                          Content="Home"
                                          Tag="0">
                </FluentNavigationViewItem>

                <FluentNavigationViewItemHeader Content="Pages"></FluentNavigationViewItemHeader>

                <FluentNavigationViewItem Icon="ToolTip"
                                          Content="Samples"
                                          SelectsOnInvoke="false">

                    <FluentNavigationViewMenuItems>

                        <FluentNavigationViewItem Icon="Dial2"
                                                  Content="Counter"
                                                  Tag="1">

                        </FluentNavigationViewItem>
                        <FluentNavigationViewItem Icon="Brightness"
                                                  Content="Weather forecast"
                                                  Tag="2">
                        </FluentNavigationViewItem>

                    </FluentNavigationViewMenuItems>

                </FluentNavigationViewItem>

            </FluentNavigationViewMenuItems>

            <div slot="content-frame">
                @Body
            </div>

        </FluentNavigationView>
    </main>
</div>

@code
{
    private List<IconSet> _iconSets;
    private string _headerTitle = "Blazor Components";

    private List<string> _headerTitles;
    private List<string> _navigationPages;
    
    protected override Task OnInitializedAsync()
    {
        _headerTitles = new List<string> { "Home", "Counter", "Weather forecast" };
        _navigationPages = new List<string> { "", "counter", "fetchdata" };

        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _iconSets = new List<IconSet>
            {
                new() { Name = "Home", Glyph = "e80f" },
                new() { Name = "ToolTip", Glyph = "e82f" },
                new() { Name = "Dial2", Glyph = "f147" },
                new() { Name = "Brightness", Glyph = "e706" },
                new() { Name = "Settings", Glyph = "e713" }
            };

            StateHasChanged();
        }
    }

    private void OnNavigationSelectionChanged(NavigationViewSelectionChangedEventArgs args)
    {
        if(args.IsSettingsSelected)
            return;

        var index = int.Parse(args.SelectedItem.Tag);

        _headerTitle = _headerTitles[index];
        Navigation.NavigateTo(_navigationPages[index]);
    }
}
