@using sagemode_fluent_blazor_components.Utilities.Classes;

@inherits FluentComponentBase

<div @ref="Element"
     slot="secondary-commands"
     @attributes="@AdditionalAttributes">
    @ChildContent
</div>

@code
{
}
